<div *ngIf="zakazka">
  <h1>{{zakazka.Nazev}}</h1>
  <div class="d-flex justify-content-center">
    <form [formGroup]="stavebniDenikForm" class="form form-group col-12">
      <div class="form-group py-1 px-0 col-12 col-sm-6 col-md-5 col-lg-4">
        <input type="date" formControlName="datum" class="form-control" placeholder="Datum">
        <span *ngIf="controlValid('datum')" class="float-right badge badge-danger">Required</span>
      </div>
      <div class="form-group py-1">
        <textarea type="text" formControlName="popis" class="form-control" placeholder="Popis"></textarea>
        <span *ngIf="controlValid('popis')" class="float-right badge badge-danger">Required</span>
      </div>
      <button [disabled]="stavebniDenikForm.invalid" class="form-control btn btn-primary my-2" (click)="OnSubmit()">Odeslat</button>
    </form>
  </div>
  <app-stavebni-denik [zaznamy$]="zaznamyDeniku$"></app-stavebni-denik>
</div>