/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@accent1: #CAD2C5;
@accent2: #84A98C;
@accent3: #52796F;
@accent4: #354F52;
@accent5: #2F3E46;

body {
  background-color: @accent1;

  header {
    background-color: @accent5;

  nav {
    .navbar-brand {
      color: @accent3 !important;
      font-size: 1.6em !important;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }

    .navbar-toggler {
      background-color: @accent4 !important;
    }
  }
}

details {
  color: @accent5;
  border: 1px @accent2 solid;
  border-radius: 5px;
  padding: 0.5em 1em;

  summary {
    font-size: 1.1em;
    color: @accent4;
  }
}

.nav-link {
  color: @accent1 !important;
  background-color: @accent4 !important;
  margin: 5px;
  text-align: center;
  min-width: 150px;
  border-radius: 5px;
}

.form-control {
  border: @accent5 2px solid;
  background-color: @accent2;

    &.btn {
      border: none;
      background-color: @accent5;
      color: @accent1;

      &:disabled {
          background-color: @accent3;
      }
    }
  }
}